**/__mocks__/**
**/__tests__/**
src
tsconfig.json
tsconfig.tsbuildinfo

/.git
/.github
/.vscode
/build
/coverage
/node_modules
/src
/tests
.editorconfig
.eslintrc.js
.prettierignore
.prettierrc
jest.config.js
package-lock.json
*.ignore
